[google]
service_account = "YOUR_GOOGLE_SERVICE_ACCOUNT_JSON_HERE"

[theme]
primaryColor = "#FF4B4B"
backgroundColor = "#FFFFFF"
secondaryBackgroundColor = "#F0F2F6"
textColor = "#262730"
font = "sans serif"
